<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/timer.js') }}"></script>
</head>
<body>
    <div id="quiz-container" class="quiz-container {{ 'shake' if message_type == 'incorrect' else '' }}">
        {% if message %}
            <h2 class="message {{ message_type }}">{{ message }}</h2>
        {% endif %}
        {% if game_over %}
            <h1>You've {{ 'won' if won else 'lost' }} in round {{ round }}</h1>
            <span class="game">GAME OVER</span>
            <form action="/restart" method="post">
                <input type="submit" value="Play again">
            </form>
            <form action="/leaderboard" method="get">
                <input type="submit" value="View Leaderboard">
            </form>
        {% else %}
            <h2>{{ question['question'] }}</h2>
            <p>Time left: <span id="timer">15</span> seconds</p>
            <form id="quiz-form" action="/answer" method="post">
                <input type="hidden" name="correct_answer" value="{{ question['answer'] }}">
                <input type="hidden" name="correct_answer_text" value="{{ question['options'][question['answer']-1] }}">
                {% for i, option in enumerate(question['options'], 1) %}
                    <label>
                        <input type="radio" name="option" value="{{ i }}"> {{ option }}
                    </label><br>
                {% endfor %}
                <input type="submit" value="Submit">
            </form>
            <form action="/skip" method="post">
                <input type="submit" value="Skip Question" class="skip-button">
            </form>
        {% endif %}
    </div>
</body>
</html>


