<!--Module 3 - Python - UCD Professional Academy - Alan Maizon-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
        <!-- SEO Meta Tags -->
    <meta name="description" content="Quiz Masters is the ultimate online quiz game where you can test your knowledge across various categories like food, science, sports, and entertainment. Challenge yourself or compete with others to top the leaderboard.">
    <meta name="keywords" content="quiz game, online quiz, trivia, knowledge game, QuizMasters, brain games, quiz challenge, fun quiz, test knowledge, trivia competition">
    <meta name="author" content="Alan Maizon">
    <meta name="robots" content="index, follow">

    <!-- Open Graph (OG) for social sharing -->
    <meta property="og:title" content="Quiz Masters">
    <meta property="og:description" content="Test your knowledge with Quiz Masters, the fun and interactive online quiz game with various categories and competitive leaderboards.">
    <meta property="og:image" content="{{ url_for('static', filename='img/IMG_3317.jpeg') }}">
    <meta property="og:url" content="https://quizmasters.onrender.com">
    <meta property="og:type" content="website">
    
    <!-- Twitter Cards for social sharing -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Quiz Masters">
    <meta name="twitter:description" content="Play Quiz Masters and test your knowledge across various categories with fun, interactive quizzes.">
    <meta name="twitter:image" content="{{ url_for('static', filename='img/IMG_3317.jpeg') }}">
        
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="error-container">
        <h1>Error</h1>
        <p>{{ message }}</p>
        <form action="/" method="get">
            <input type="submit" value="Start Over">
        </form>
    </div>
</body>
</html>
